<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid">
    <div class="row">
        <div class="d-none d-md-block col-md-3">
            <p class="text-center">sidebar</p>
        </div>
        <div class="col-md-9">
            <div class="container-fluid">
                <h1><%= post.title %></h1>
                <img src="<%= post.image %>" alt="">
                <p><%= post.description %></p>
                <a href="/socio/<%= post._id %>/edit" class="btn btn-success">Edit</a>
                <form action="/socio/<%= post._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="container-fluid">
                <h3>Comment</h3>
                <a href="/socio/<%= post._id %>/comment/new" class="btn btn-primary">New Comment</a>
                <% post.comment.forEach((event)=>{ %>
                    <p><%= event.text %></p>
                    <a href="/socio/<%= post._id %>/comment/<%= event._id %>" class="btn btn-success">Edit</a>
                    <form action="/socio/<%= post._id %>/comment?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>